<FilesMatch "\.(woff|ttf|svg|eot|css|png|jpg|ico)$">
    FileETag None
    ExpiresActive on
    ExpiresDefault "access plus 10 years"
</FilesMatch>
AddOutputFilter DEFLATE html css eot ttf svg txt ico

RewriteEngine on
RewriteRule ^resume$ /james-socol-resume-2013.pdf [L,R=302]
RewriteRule ^wiki - [L,G]
RewriteRule ^blog http://coffeeonthekeyboard.com/ [L,R=301]
