<FilesMatch "\.(woff|ttf|svg|eot|css|png|jpg|ico)$">
    FileETag None
    ExpiresActive on
    ExpiresDefault "access plus 10 years"
</FilesMatch>
AddOutputFilter DEFLATE html css eot ttf svg txt ico
