/*
 * The fonts included are copyrighted by the vendor listed below.
 *
 * Vendor:      exljbris
 * License URL: http://www.fontspring.com/fflicense/exljbris
 *
 */

@font-face {
    font-family: 'CallunaRegular';
    src: url('fonts/calluna-regular/Calluna-Regular-webfont.eot?') format('eot'),
         url('fonts/calluna-regular/Calluna-Regular-webfont.woff') format('woff'),
         url('fonts/calluna-regular/Calluna-Regular-webfont.ttf') format('truetype'),
         url('fonts/calluna-regular/Calluna-Regular-webfont.svg#webfont81eSLjlf') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CallunaItalic';
    src: url('fonts/calluna-italic/Calluna-It-webfont.eot?') format('eot'),
         url('fonts/calluna-italic/Calluna-It-webfont.woff') format('woff'),
         url('fonts/calluna-italic/Calluna-It-webfont.ttf') format('truetype'),
         url('fonts/calluna-italic/Calluna-It-webfont.svg#webfontN9pc1qyZ') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'MuseoSans900';
    src: url('fonts/museo-sans-900/MuseoSans_900-webfont.eot?') format('eot'),
         url('fonts/museo-sans-900/MuseoSans_900-webfont.woff') format('woff'),
         url('fonts/museo-sans-900/MuseoSans_900-webfont.ttf') format('truetype'),
         url('fonts/museo-sans-900/MuseoSans_900-webfont.svg#webfont1MYi6u6x') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSans500';
    src: url('fonts/museo-sans_500.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

:root {
    --color-non-photo-blue: #b1e1e1;
    --color-teal: #338484;
    --color-carribbean-current: #286767;
    --color-dark-slate-gray: #173B3B;
    --color-umber: #74584c;
    --color-khaki: #bfa79c;
    --color-timberwolf: #DFD3CE;
    --color-bistre: #2e2218;
    --color-davys-gray: #525251;
    --color-gray: #767574;
    --color-silver: #A4A3A2;
    --color-light-silver: #B8B8B7;
    --color-platinum: #E1E0E0;
    --color-white: #ffffff;

    --spacing-base: 12px;
    --max-width-desktop: calc(80 * var(--spacing-base));
    --num-icons: 6;

    --text-size-base: 12px;
    --text-line-height: 1.4;
    --text-size: calc(1.8 * var(--text-size-base));
    --text-color: var(--color-bistre);
    --text-color-headers: var(--color-bistre);
    --text-link-color: var(--color-carribbean-current);

    --hero-color-text: var(--color-davys-gray);
    --hero-color-bg: var(--color-timberwolf);
    --hero-color-link: var(--color-dark-slate-gray);
    --hero-color-icons: var(--color-bistre);

    --content-color-bg: var(--color-white);

    --footer-color-bg: var(--color-umber);
    --footer-color-text: var(--color-platinum);

    background-color: var(--footer-color-bg);
    scroll-behavior: smooth;
}

body {
    color: var(--text-color);
    margin: 0;
    font-family: 'CallunaRegular';
    line-height: var(--text-line-height);
    font-size: var(--text-size-base);
}

.header {
    margin: 0;
    background-color: var(--hero-color-bg);
    text-align: center;
}

.header__content {
    margin: 0 auto;
    padding: calc(2 * var(--spacing-base)) var(--spacing-base);
    max-width: var(--max-width-desktop);
}

.header__image {
    border-radius: 50%;
}

.header h1 {
    font-family: 'MuseoSans500';
    color: var(--text-color-headers);
    font-size: calc(4 * var(--text-size-base));
    line-height: 1;
}

.header__dek {
    color: var(--hero-color-text);
    font-size: calc(2 * var(--text-size-base));
}


.header__contact {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(var(--num-icons), auto);
    gap: 1rem;
    max-width: calc(48 * var(--spacing-base));
}

.header__contact li {
    margin: 0;
    padding: 0;
    display: block;
    list-style: none;
}

.header__contact path {
    fill: var(--hero-color-icons);
}

.header__contact :any-link {
    color: var(--hero-color-link);
}

.header__contact figure {
    margin: 0;
    padding: 0;
}

.header__contact figcaption {
    opacity: 0;
    transition: 0.1s opacity ease;
}

.header__contact a:focus figcaption,
.header__contact a:hover figcaption {
    opacity: 1;
}

.header__contact li:last-of-type {
    grid-column: span var(--num-icons);
}

.contact__key {
    font-family: monospace;
}

.content {
    background-color: var(--content-color-bg);
    margin: 0;
    width: 100%;
    padding: calc(2 * var(--spacing-base)) calc(var(--spacing-base));
    font-size: var(--text-size);
}

.content section {
    max-width: var(--max-width-desktop);
    margin: 0 auto calc(4 * var(--spacing-base));
}

.content__intro {
    column-count: 2;
    column-gap: calc(2.5 * var(--spacing-base));
    text-align: justify;
}

.content__intro p:first-of-type {
    margin-top: 0;
}


.content :any-link {
    color: var(--text-link-color);
}

.content__open-source dt {
    font-family: monospace;
}

.footer {
    background-color: var(--footer-color-bg);
    color: var(--footer-color-text);
}

/* .content :target .content__section-hed { */
/*   background-color: var(--color-platinum); */
/* } */

/* @media(prefers-color-scheme: dark) { */
/*   :root { */
/*     --hero-color-bg: var(--color-bistre); */
/*     --text-color-hero: var(--color-khaki); */
/*   } */
/* } */

@media(min-width: 768px) {
    .header {
        text-align: left;
    }

    .header__content {
        display: grid;
        gap: calc(1.5 * var(--spacing-base));
        grid-template-rows: auto;
        grid-template-columns: 200px auto;
        grid-template-areas:
            "image title"
            "image dek"
            "image contact";
    }

    .header__content h1 {
        margin: 0;
        grid-area: title;
        align-self: last baseline;
    }

    .header__dek {
        grid-area: dek;
        margin: 0;
    }

    .header__image {
        margin: 0;
        grid-area: image;
    }

    .header__contact {
        text-align: center;
        grid-area: contact;
    }

    .header__contact li:last-of-type {
      text-align: left;
    }

    .content :any-link {
        background: none;
        transition: 0.2s background-color ease;
    }

    .content :any-link:focus-within,
    .content :any-link:hover {
        background-color: var(--color-platinum);
    }
}
